<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/details.css">
</head>
<body>
    <%- include('../partials/login') %>
    <%- include('../partials/navbar') %>
    <% let director = []; %> 
    <% cast.forEach(element => {
        if (element.person_role === "director") {
            director.push(element.person_name);
        }
    }) 
    console.dir(director); %>
    <div class="details-main-container">
        <div class="details-container">
            <div class="banner-container">
                <img class="banner" src="<%- movie.path_to_img %> " alt="<%- movie.movie_name %>">
            </div>
            <div class="top-bar">
                <div class="cover-art-container">
                    <img class="cover-art" src="<%- movie.path_to_img %> " alt="<%- movie.movie_name %>">
                </div>
                <div class="title">
                    <div class="title-text"><%- movie.movie_name %></div>
                    <div class="release-date"><%- movie.release_date %></div>
                    <div class="description"><%- movie.movie_desc %> </div>
                    <div class="directors-container">
                        <table>
                            <% if (director != "") { %>
                                <tr>
                                    <td>
                                        <span style="color: rgb(177, 177, 177);">Rendezte:</span>
                                    </td>
                                    <td>
                                        <% director.forEach(element => { %>
                                         <span style="margin-left: 25px;"><%- element %></span><br>
                                        <% }) %>
                                    </td>
                                </tr>
                            <% } %>
                            <% if (movie.movie_studio) { %>
                            <tr>
                                <td>
                                    <span style="color: rgb(177, 177, 177);">Stúdió:</span>
                                </td>
                                <td>
                                        <span style="margin-left: 25px;"><%- movie.movie_studio %></span>
                                    </td>
                                </tr>
                            <% } %> 
                        </table>
                    </div>
                </div>
            </div>
            <div class="cast-container">
                <span class="cast-title">Szereplők</span>
                <div class="actors-container">
                    <% cast.forEach(element => { %>
                     <% if (element.person_role === "cast") { %>
                        <div class="actor-container">
                            <div class="actor-img">
                            <% if (element.path_to_img) { %>
                                <img width="130px" height="130px" src="<%- element.path_to_img %>" alt="">
                            <% } else {%>
                                <img width="130px" height="130px" src="/img/people/default.jpg" alt="">
                            <% } %> 
                            </div>
                            <div class="actor-text">
                                <span class="name"><%- element.person_name %></span><br>
                                <span class="role"><%- element.role_as %></span>
                            </div>
                        </div>
                     <% } %>
                    <% }) %>
                </div>
            </div>
            <% if (localStorage.getItem("loggedin") == "true") { %>
                <div class="write-comment-container">
                    <span>Írj Véleményt!</span>
                    <form action="addcomment" method="post">
                        <input type="text" name="title" placeholder="Adj címet a hozzászólásodnak">
                        <textarea name="comment" placeholder="Írd ide a véleményed!"></textarea>
                        <div class="rating-button-container">
                            <select name="rating">
                                <option value="10">5    ⭐</option>
                                <option value="9">4,5   ⭐</option>
                                <option value="8">4     ⭐</option>
                                <option value="7">3,5   ⭐</option>
                                <option value="6">3     ⭐</option>
                                <option value="5">2,5   ⭐</option>
                                <option value="4">2     ⭐</option>
                                <option value="3">1,5   ⭐</option>
                                <option value="2">1     ⭐</option>
                                <option value="1">0,5   ⭐</option>
                            </select>
                            <button name="movieid" value="<%- movie.movieid %> "type="submit">Vélemény hozzáadása</button>
                        </div>
                    </form>
                </div>
            <% } %>
            <div class="reviews-main-container">
                <span class="reviews-title">Vélemények</span>
                <% comments.forEach(element => { %>
                    <div class="reviews-container">
                        <div class="review-container">
                            <div class="profile-pic-container">
                                <img width="100px" height="100px" src="/img/people/default.jpg" class="profile-pic">
                                <span>
                                    <%- element.username %> 
                                </span>
                            </div>
                            <div class="comment-container">
                                <div class="title-container">
                                    <span><%- element.rating / 2 %> ⭐</span><br>
                                    <span><%- element.title %></span>
                                </div>
                                <div class="content-container">
                                    <%- element.content %>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>